.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 3rem;
  
  }
  
  .headingLg {
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 2rem;
    line-height: 1;
  }
  .headingLg {
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 2rem;
    line-height: 1;
  }

  .paragraphVert {
    margin-left: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  .p {
    margin-bottom: 1rem;
  }
  
  .blockshit {
    background-color: #b5c5bd;
    width: 2px;

  }
  .headingMd {
    margin: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    width: 90%;
    display: flex;
    flex-direction: row;
  }
  .listItemFormat {
    margin: 1rem;
    font-size: 1.2rem;
    width: 90%;
    display: flex;
    flex-direction: row;
  }

  .articleText {
    display: flex;
    flex-direction: row;
  }
  .headingSm {
    font-size: .8rem;

  }

  .picture {
    margin-top: 2rem; 
    margin-left: 2rem;
    margin-right: 2rem;
    


    max-width:100%;
    width: 10rem;  /* Ensures it scales with the window */
    max-width: 500px; /* Optional: Set a max width to prevent it from getting too large */
    height: auto; /* Maintains aspect ratio */
    object-fit: cover;

  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }


  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .listItem:hover {
    color: #b5c5bd;
  }

  .listItem:visited {
    color: #e3dbdb
  }
  
  .lightText {
    color: #f9f9f9;
  }

  